* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #0c474b;
}

.hidden {
  display: none;
}
.text-desktop {
  display: none;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1,
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

.p-small {
  font-size: 0.875rem;
}

header {
  height: 100vh;
  background-image: url("../../public/images/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

.nav-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.menu-hamburguer {
  position: fixed;
  top: 0;
  left: 0;
  padding: 3.4rem 2.5rem;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translateY(-10%);
}

.hero-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.8rem;
}

.primary-btn {
  display: inline-block;
  color: white;
  background: #0c474b;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
}

.second-module-container {
  background-color: #f0ebe5;
  padding: 2.5rem 0;
}

.second-module-container h2 {
  text-align: center;
  margin: 0 2.9rem 3.1rem;
}

.second-article-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 0 6.4rem;
  gap: 4.1rem;
}

.second-article-container h3 {
  margin: 3.3rem 0 1.25rem;
}

.feature {
  display: grid;
  justify-items: center;
  text-align: center;
}

.feature img {
  width: 5.6rem;
  height: auto;
}

.third-module-container {
  background-color: #ff975a;
  color: white;
  text-align: center;
  padding: 3.75rem 0;
}
.third-module-container a {
  display: inline-block;
  margin-top: 2.5rem;
  color: white;
}

.fourth-module-container {
  text-align: center;
  background-color: #f0ebe5;
}

.fourth-module-container .text-content {
  padding: 86.4px 27px;
}

.text-content .primary-btn {
  display: inline-block;
  margin-top: 32.96px;
}

.image-content .fourth-image {
  display: block;
  width: 100%;
  height: auto;
}

.fourth-module-container h2 {
  margin: 0 8px;
}

footer {
  padding: 60px 0;
  background-color: #0c474b;
  position: relative;
}
.footer-container {
  background-color: #0c474b;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 40px;
}

.contacto-main-container .social-links {
  display: inline-block;
  margin-top: 25px;
}

.contacto a {
  display: block;
}

.scroll-up {
  position: absolute;
  bottom: 16px;
  right: 32px;
}

.footer a {
  text-decoration: none;
  font-size: 14px;
}

.footer-container a,
.footer-container h3 {
  color: #b6c8c9;
}

.scroll-up {
  background-color: #0c474b;
}

@media all and (min-width: 900px) and (max-width: 1727px) {
  h2 {
    font-size: 1.875rem;
  }
  h1 {
    font-size: 2.25rem;
    max-width: 15ch; /* Descubrí esta forma de limitar el ancho del título para así hacer el salto de línea pero no sé si existe otra manera de hacerlo */
  }
  .hero-container {
    justify-content: flex-start;
    transform: translateY(-14%);
  }

  .hero-article {
    align-items: flex-start;
    gap: 1.5rem;
    padding-left: 0;
    padding-left: 9.25rem;
  }
  .nav-logo-container {
    padding-top: 2.6875rem;
  }
  .menu-hamburguer {
    padding: 4.8rem 5.4rem;
  }

  .third-module-container a {
    margin-top: 1.875rem;
  }

  .third-module-container .p-small {
    margin-top: 1.1rem;
  }

  .text-content .p-small {
    max-width: 40ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2rem;
  }
  .fourth-module-container .text-content {
    padding: 4.1rem 0 6.8rem;
  }
  .text-content .primary-btn {
    margin-top: 1.25rem;
  }
  footer {
    padding: 4.3rem 0;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 7.5rem;
  }

  .scroll-up {
    position: absolute;
    bottom: 4.2rem;
    right: 3.9rem;
  }

  .second-module-container {
    padding: 2.5rem 0 5.75rem;
  }

  .second-module-container h2 {
    font-size: 1.5rem;
    margin: 0 10.5rem 2.4rem 12.25rem;
  }
  .second-article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* padding: 0 6.4rem; */
  }

  .second-article-container h3 {
    margin: 2.4rem 0 0.5rem;
  }
}

@media all and (min-width: 1728px) {
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .third-module-container {
    padding: 2.5rem 0 5.4rem;
  }
  .third-module-container .p-small {
    margin-top: 0.5rem;
  }

  .second-module-container {
    padding: 5.1rem 0 7.25rem;
  }

  .second-article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 15.1rem 0 19.5rem;
  }

  .second-module-container h2 {
    margin: 1rem 30.4rem 3.1rem;
  }

  .second-article-container h3 {
    margin: 0.6rem 0 0.4rem;
  }
  .feature img {
    width: 7.5rem;
    height: auto;
  }
  .text-mobile {
    display: none;
  }
  .text-desktop {
    display: block;
  }
}
