* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #0c474b;
}

.hidden {
  display: none;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1,
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

.p-small {
  font-size: 0.875rem;
}

header {
  height: 100vh;
  background-image: url("../../public/images/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

.nav-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.menu-hamburguer {
  position: fixed;
  top: 0;
  left: 0;
  padding: 3.4rem 2.5rem;
}

.hero-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9.9rem 0;
}

.hero-article .primary-btn {
  margin-top: 2.7rem;
}

.primary-btn {
  display: inline-block;
  color: white;
  background: #0c474b;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
}

.third-module-container {
  background-color: #ff975a;
  color: white;
  text-align: center;
  padding: 4rem 0;
  a {
    display: inline-block;
    margin-top: 40px;
    color: white;
  }
}

.fourth-module-container {
  text-align: center;
  background-color: #f0ebe5;
}

.fourth-module-container .text-content {
  padding: 5.4rem 1.6875rem;
}

.text-content .primary-btn {
  display: inline-block;
  margin-top: 2.06rem;
}

.image-content .fourth-image {
  display: block;
  width: 100%;
  height: auto;
}

.fourth-module-container h2 {
  margin: 3rem 0 0.5rem;
}

footer {
  padding: 3.75rem 0;
  background-color: #0c474b;
  position: relative;
}
.footer-container {
  background-color: #0c474b;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 2.5rem;
}

.contacto-main-container .social-links {
  display: inline-block;
  margin-top: 1.5625rem;
}

.contacto a {
  display: block;
}

.scroll-up {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

.footer a {
  text-decoration: none;
  font-size: 0.875rem;
}

.footer-container a,
.footer-container h3 {
  color: #b6c8c9;
}

.scroll-up {
  background-color: #0c474b;
}
